@import "../../../../style/include";

:host-context(app-attendance) {
    margin-top: calc(#{$navigator-height} + #{$shell-header-height});
    flex-grow: 1;//Remaining space distrubuted equally
    flex-basis: 0;//Extra space ignored
    width: 100%;
    overflow: auto;
}

.grid-wrapper {
    @include display-flex;
    @include flex-direction(column);
    @include flex-wrap(wrap);
    height: 100%;
}

.items-to-left {
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    align-content: flex-start;
    width: 65%;
    height: 100%;

    .top-box {
        margin-top: 4rem;
        margin-bottom: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        height: 9rem;
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 2rem;

        .category-wrapper {
            height: 100%;
            width: 100%;
            @include display-flex;
            @include flex-direction(row);
            @include flex-wrap(wrap);

            .selector-wrapper {
                @include display-flex;
                @include flex-direction(row);
                @include flex-wrap(nowrap);
                width: 100%;
            }
        }
    }

    .bottom-box {
        margin-bottom: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        height: 20rem;
        width: 100%;

        @include display-flex;
        @include flex-direction(row);
        @include flex-wrap(wrap);
        justify-content: center;

        .text-area-wrapper {
            padding: 2rem;
            width: 100%;


            .text-area-heading {
                // align-self: flex-start;
            }
    
            .text-area {
                margin-top: 2rem;
                height: 12rem;
                align-self: center;
                resize: none;
                width: 100%;
                box-sizing: border-box;
            }
        }
        
    }
}

.items-to-right {
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    align-content: flex-start;
    width: 35%;
    height: 100%;

    .top-box {
        @include display-flex;
        @include flex-direction(row);
        @include flex-wrap(nowrap);
        justify-content: flex-start;
        margin-top: 4rem;
        margin-bottom: 2rem;
        margin-right: 2rem;
        width: 100%;

        .year-wrapper {
            width: calc(50% - 1rem);
            height: 5rem;
        }

        .month-wrapper {
            width: calc(50% - 1rem);
            height: 5rem;
            margin-left: auto;
        }
    }

    .bottom-box {
        margin-bottom: 2rem;
        margin-right: 2rem;
        height: 24rem;
        width: 100%;
    }
}

.common {
    background-color: white;
    box-shadow: 0px 0px 10px 1px lightgray;
    border-radius: 0.2rem;
}

.common-text {
    font-family: $font-family-sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: darkslategrey;
}

.today-box {
    height: 3.2rem;
    width: 12rem;
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(nowrap);

    .left-box {
        width: 3.5rem;
        height: 100%;
        border-right-color: lightgray;
        border-right-style: solid;
        border-right-width: 1px;
    }

    .today-text {
        font-size: 1rem;
        align-self: center;
        width: calc(100% - 3.5rem);
        text-align: center;
    }
}

.type-selector-wrapper {
    height: 3.2rem;
    width: 12rem;
    margin-left: 1.5rem;
}

.button-wrapper {
    height: 3.2rem;
    width: 16rem;
    margin-left: 1.5rem;
}

.mat-flat-button {
    border: none !important;
    height: 100%;
    width: 100%;
}