<app-container>
  <div class="ng-vertical-axis">
    <div class="ng-vertical-left">
      <div class="ng-filter-wrapper">
          <fa-icon class="ng-icon-filter" [icon]="filter" size="xs"></fa-icon>
          <input class="ng-filter-field" placeholder="Filter by Position" type="search">
      </div>
      <div class="ng-vertical-list">
          <div class="ng-person-block" *ngFor="let employee of employees;trackBy:trackByEmployeeId">
            <app-person-widget [person]="employee" [listMode]="true"></app-person-widget>
          </div>
      </div>
    </div>
    <div class="ng-vertical-right">
      <div>

      </div>
    </div>
  </div>
</app-container>
