<app-container>
  <div class="ng-vertical-axis">
    <div class="ng-vertical-left">
      <div class="ng-filter-wrapper">
          <fa-icon class="ng-icon-filter" [icon]="filter" size="xs"></fa-icon>
          <input class="ng-filter-field" placeholder="Filter by Position" type="search">
      </div>
      <div #ngVerticalListPeople class="ng-vertical-list-people">
          <div class="ng-person-block" *ngFor="let employee of employees;trackBy:trackByEmployeeId">
            <app-person-widget [person]="employee" [listMode]="true"></app-person-widget>
          </div>
      </div>
    </div>
    <div class="ng-vertical-right">
      <div #ngVerticalListEvents class="ng-vertical-list-events">
        <div class="ng-person-block" *ngFor="let employee of employees;trackBy:trackByEmployeeId">
          <div class="ng-day-block">
            <ng-container *ngFor="let day of getNumberOfDaysForCurrentMonth()">
              <app-day-box [day]="formatDay(day)"></app-day-box>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-container>
