<div class="container">
  <!-- <div class="content"> -->
    <div class="user-image-container">
      <div class="circle">
        <!-- <div class="no-image"></div> -->
        <img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZ4dm9USa9L-OYLcjgvTjZ5TnfxLRSs1stSugJ2YkRlM48xmg6kw" alt="">
      </div>
    </div>

    <div class="user-info-wrapper">
      <span class="name">{{personName}}</span>
      <span class="type">{{personType}}</span>
    </div>
  <!-- </div> -->
</div>