@import "../../../style/include";

.ng-dialog-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
}

.ng-dialog-content-wrapper {
    z-index: 1000;
    margin-top: 1rem;
    height: 31rem;
    width: 45rem;
    @include display-flex;
    @include flex-direction(column);
    @include flex-wrap(wrap);

    .ng-dialog-items-to-left {
        width: calc(45rem / 2);
        height: 100%;
        background-color: white;
        border-top-left-radius: $base-gutter;
        border-bottom-left-radius: $base-gutter;
        @include display-flex;
        @include flex-direction(column);
        @include flex-wrap(nowrap);
    }

    .ng-dialog-items-to-right {
        width: calc(45rem / 2);
        height: 100%;
        background-color: lightblue;
        border-top-right-radius: $base-gutter;
        border-bottom-right-radius: $base-gutter;
    }
}

.ng-dialog-close-button {
    @include user-select(none);
    margin-left: auto;
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    font-family: $font-family-sans-serif;
    font-size: 20px;
    font-weight: 700;
    background-color: white;
    justify-content: center;
    margin-top: 1rem;
    margin-right: 1rem;

    span {
        align-self: center;
        color: lightblue;
    }

    &:hover {
        cursor: pointer;
    }
}

.ng-dialog-items-to-left-wrapper {
    padding: 2rem;
    @include display-flex;
    @include flex-direction(column);
    @include flex-wrap(nowrap);

    .ng-dialog-title {
        font-family: $font-family-sans-serif;
        font-size: 22px;
        font-weight: 700;
        color: darkslategrey;
        align-self: center;
        margin-bottom: 1rem;
    }
    
    .ng-dialog-task-name-wrapper {
        @include display-flex;
        @include flex-direction(column);
        @include flex-wrap(nowrap);
        margin-bottom: 1rem;

        .ng-input {
            background-color: lightgray;
            border: none;
            height: 2.5rem;
            box-shadow: 0px 0px 5px 0px lightgray;
            border-radius: 0.2rem;
            padding-left: $base-gutter;

            &::placeholder {
                color : darkslategray;
                font-family: $font-family-sans-serif;
                font-size: 12px;
                font-weight: 400;
            }

            &:focus {
                outline: none;
            }

        }
    }


    .ng-dialog-user-name-wrapper,
    .ng-dialog-project-name-wrapper {
        @include display-flex;
        @include flex-direction(column);
        @include flex-wrap(nowrap);
        margin-bottom: 1rem;

        ::ng-deep .ng-select-container  {            
            background-color: lightgray;
            height: 2.5rem;
            box-shadow: 0px 0px 5px 0px lightgray;
            border-radius: 0.2rem;
        }

        ::ng-deep .ng-select ::ng-deep .ng-select-container {
            border: none;
        }

        ::ng-deep .ng-select ::ng-deep .ng-select-container  ::ng-deep .ng-value-container ::ng-deep .ng-placeholder {
            color : darkslategray;
            font-family: $font-family-sans-serif;
            font-size: 12px;
            font-weight: 400;
        }

        ::ng-deep .ng-select.ng-select-single ::ng-deep .ng-select-container ::ng-deep .ng-value-container ::ng-deep .ng-input {
            top: 10px;
        }

        ::ng-deep .ng-select ::ng-deep .ng-arrow-wrapper {
            border-left: 1px solid white;
            height: 100%;
            @include display-flex;
            @include flex-direction(column);
            @include flex-wrap(wrap);
            justify-content: center;
            align-items: center;
            padding: 0;
        }

        ::ng-deep .ng-select ::ng-deep .ng-select-container ::ng-deep .ng-value-container,
        ::ng-deep .ng-select.ng-select-single ::ng-deep .ng-select-container ::ng-deep .ng-value-container ::ng-deep .ng-input {
            padding-left: $base-gutter;
        }
    }

    .ng-dialog-due-date-wrapper {
        @include display-flex;
        @include flex-direction(column);
        @include flex-wrap(nowrap);
        margin-bottom: 1rem;

        ::ng-deep .mat-form-field-appearance-legacy ::ng-deep .mat-form-field-underline {
            background-color: transparent;
        }

        ::ng-deep .mat-form-field.mat-focused ::ng-deep .mat-form-field-ripple {
            background-color: transparent;
            transition: none;
        }

        ::ng-deep .mat-form-field-flex {
            background-color: lightgray;
            height: 2.5rem;
            box-shadow: 0px 0px 5px 0px lightgray;
            border-radius: 0.2rem;
            align-items: center;
        }

        ::ng-deep .mat-form-field-infix {
            top: -2.5px;
            border-top: none;
        }

        ::ng-deep .mat-input-element {
            color : darkslategray;
            font-family: $font-family-sans-serif;
            font-size: 12px;
            font-weight: 400;
            padding-left: $base-gutter;
            caret-color: black;
        }

        ::ng-deep .mat-form-field-suffix {
            height: 100%;
            border-left: 1px solid white;
            @include display-flex;
            align-items: center;
        }

        ::ng-deep .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float ::ng-deep .mat-form-field-label {
            display: none;
        }

        ::ng-deep .mat-form-field-appearance-legacy ::ng-deep .mat-form-field-label {
            color : darkslategray;
            font-family: $font-family-sans-serif;
            font-size: 12px;
            font-weight: 400;
            padding-left: $base-gutter;
        }

        ::ng-deep .mat-form-field-label-wrapper {
            top: -2px;
        }
    }

    .ng-dialog-button {
        @include display-flex;
        @include flex-direction(column);
        @include flex-wrap(nowrap);
        margin-bottom: 1rem;

        ::ng-deep .mat-flat-button.mat-primary {
            background-color: #E63E33;
            box-shadow: 0px 0px 5px 0px lightgray;
            border-radius: 0.2rem;
            height: 2.5rem;
        }
    }

    .ng-dialog-icons {
        @include display-flex;
        @include flex-direction(row);
        @include flex-wrap(nowrap);
        margin-left: auto;
        margin-bottom: 1rem;

        fa-icon {
            margin-left: $base-gutter;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.ng-label {
    font-family: $font-family-sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: $base-gutter;
}