<div class="ng-dialog-container">
  <div class="ng-dialog-content-wrapper">
    <div class="ng-dialog-items-to-left" [class.ng-detele]="deleteState">
      <div class="ng-dialog-items-to-left-wrapper">
        <ng-container *ngIf="!deleteState">
        <span class="ng-dialog-title">Task Card Add</span>
        <div class="ng-dialog-icons">
            <fa-icon (click)="editTask()" [icon]="pencilAlt"></fa-icon>
            <fa-icon (click)="deleteTask()" [icon]="trashAlt"></fa-icon>
        </div>
        <div class="ng-dialog-user-name-wrapper">
            <label class="ng-label">User Name</label>
            <!-- www.npmjs.com/package/@ng-select/ng-select -->
            <ng-select [items]="users" bindLabel="name" placeholder="Add User here" [(ngModel)]="selectedUser">
            </ng-select>
        </div>
        <div class="ng-dialog-task-name-wrapper">
          <label class="ng-label">Task Name</label>
          <input class="ng-input" placeholder="Add Task name here" type="text">
        </div>
        <div class="ng-dialog-project-name-wrapper">
          <label class="ng-label">Project Name</label>
          <!-- www.npmjs.com/package/@ng-select/ng-select -->
          <ng-select [items]="projects" bindLabel="name" placeholder="Add Project here" [(ngModel)]="selectedProject">
          </ng-select>
        </div>
        <div class="ng-dialog-due-date-wrapper">
            <label class="ng-label">Due Date</label>
            <!-- https://material.angular.io/components/datepicker/overview -->
            <mat-form-field>
                <input matInput placeholder="Add Due Date here" [matDatepicker]="myDatepicker">
                <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker>
            </mat-form-field>
        </div>
        <!-- https://material.angular.io/components/button/overview -->
        <div class="ng-dialog-button">
            <button mat-flat-button>Add card</button>
        </div>
      </ng-container>
      <ng-container *ngIf="deleteState">
          <span class="ng-dialog-title">Delete Task</span>
          <span class="ng-dialog-subtitle">Are you sure you want to<br/> delete this task</span>
          <div class="ng-dialog-delete-button-wrapper">
              <div class="ng-dialog-button">
                  <button mat-flat-button>Decline</button>
              </div>
              <div class="ng-dialog-button">
                  <button mat-flat-button>Accept</button>
              </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="ng-dialog-items-to-right">
      <div class="ng-dialog-close-button" (click)="closeDialog()"><span>&times;</span></div>
    </div>
  </div>
</div>