<app-dialog *ngIf="showDialog()" (close)="closeDialog($event)"></app-dialog>
<app-container>
    <div class="grid-layout">
        <div class="grid">
            <div class="tasks">Tasks
                <div class="column">
                    <div class="add-task">
                        <div class="add-button" (click)="addCard()"><span>+</span></div>
                        <span class="add-task-text">Add new task card</span>
                    </div>
                    <ng-container *ngFor="let item of getTasks();trackBy:trackByCardId">
                        <app-card 
                            #card
                            class="card" 
                            (click)="toggleFlip(card)" 
                            [flipState]="card.flipState" 
                            [card]="item">
                        </app-card>
                    </ng-container>
                </div>
            </div>
            <div class="overdue">Overdue
                <div class="column">
                    <ng-container *ngFor="let item of getOverdue();trackBy:trackByCardId">
                        <app-card 
                            #card 
                            class="card" 
                            (click)="toggleFlip(card)" 
                            [flipState]="card.flipState" 
                            [card]="item">
                        </app-card>
                    </ng-container>
                </div>
            </div>
            <div class="completed">Completed
                <div class="column">
                    <ng-container *ngFor="let item of getCompleted();trackBy:trackByCardId">
                        <app-card 
                            #card 
                            class="card" 
                            (click)="toggleFlip(card)" 
                            [flipState]="card.flipState" 
                            [card]="item">
                        </app-card>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</app-container>