<div class="all-wrapper">
  <div class="fixed-header">
  <div class="shell-wrapper">
    <div class="items-to-left">
      <img class="logo" src="../../images/shell/iconmonstr-fast-food-2.svg">
      <div class="search-wrapper">
          <input class="search-field" placeholder="Search Cards" type="search">
      </div>
    </div>
    <div class="items-to-right">
      <div class="right-items-wrapper">
        <app-person-widget></app-person-widget>
        <img src="../../images/shell/iconmonstr-speech-bubble-23.svg">
        <img src="../../images/shell/iconmonstr-menu-11.svg"> 
      </div>
    </div>
  </div>
  <div class="nav-wrapper">
    <ul class="nav-ul">
      <li [class.selected]="getIndex() === 1" (click)="navigatorChange(1)">Dashboard</li>
      <li [class.selected]="getIndex() === 2" (click)="navigatorChange(2)" routerLink="/tasks">Tasks</li>
      <li [class.selected]="getIndex() === 3" (click)="navigatorChange(3)" routerLink="/attendance">Attendance</li>
    </ul>
  </div>
  </div>
  <router-outlet></router-outlet>
</div>