@import "../../style/include";

.all-wrapper {
    @include display-flex;
    @include flex-direction(column);
    @include flex-wrap(wrap);
    width: 100%;
    overflow: hidden;
    height: 100%;//check Later ... ?
}

.fixed-header {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.shell-wrapper {
    @include display-flex;
    @include flex-direction(row);
    background-color: #36486b;
    height: $shell-header-height;
    width: 100%;
}

.items-to-left {
    @include display-flex;

    fa-icon {
        margin-left: 2rem;
        height: 100%;
        @include display-flex;
        justify-content: center;

        ::ng-deep svg {
            align-self: center;
        }
         
        ::ng-deep .fa-xs {
            font-size: 2rem;
        }
    }

    .search-wrapper {
        @include display-flex;
        @include flex-direction(row);
        align-items: center;
        margin-left: 3rem;

        .icon-search {
            position: absolute;
            margin-left: $base-gutter;
            height: 100%;
            @include display-flex;
            justify-content: center;

            ::ng-deep svg {
                align-self: center;
            }
             
            ::ng-deep .fa-xs {
                font-size: 1.5rem;
            }

        }

        input {
            // background-image: url(../../images/shell/iconmonstr-magnifier-2.svg);
            background-position: 3% 50%;
            background-repeat: no-repeat;
            padding-left: 40px;
            font-family: $font-family-sans-serif;
            caret-color: white;
            color: white;
        }

        .search-field {
            height: 3rem;
            width: 20rem;
            border-radius: 0.2rem;
            border: none;
            background-color: rgba(38, 57, 97, 0.993);
            font-size: 14px;
            font-weight: 500;

            &:focus {
                outline: none;
            }
        }
    }
}

.items-to-right {
    margin-left: auto;

    .right-items-wrapper {
        @include display-flex;
        @include flex-direction(row);
        justify-content: center;
        height: 100%;
        margin-right: 2rem;

        fa-icon {
            margin-left: 2rem;
            height: 100%;
            @include display-flex;
            justify-content: center;
    
            ::ng-deep svg {
                align-self: center;
            }
             
            ::ng-deep .fa-xs {
                font-size: 1.5rem;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.nav-wrapper {
    @include display-flex;
    @include flex-direction(row);
    background-color: white;
    height: $navigator-height;
    width: 100%;
    box-shadow: 0 4px 3px -3px lightgray;
    z-index: 3;

    .nav-ul {
        @include display-flex;
        @include flex-direction(row);
        list-style-type: none;
        width: 100%;
        justify-content: center;
        margin: 0;
        padding: 0;

        li {
            @include display-flex;
            @include flex-direction(column);
            @include user-select(none);
            justify-content: center;
            // height: 100%;
            margin-right: 2rem;
            margin-left: 2rem;
            font-family: $font-family-sans-serif;
            font-size: 18px;
            font-weight: 700;
            color: lightgray;

            &:hover {
                cursor: pointer;
            }

            &.selected {
                border-bottom-color: red;
                border-bottom-style: solid;
                border-bottom-width: 5px;    
            }

            &:focus {
                outline: none;
            }
        }

        
    }
}
