<div class="all-wrapper">
  <div class="fixed-header">
  <div class="shell-wrapper">
    <div class="items-to-left">
      <fa-icon [icon]="cogs" size="xs"></fa-icon>
      <div class="search-wrapper">
          <fa-icon class="icon-search" [icon]="search" size="xs"></fa-icon>
          <input class="search-field" placeholder="Search Cards" type="search">
      </div>
    </div>
    <div class="items-to-right">
      <div class="right-items-wrapper">
        <app-person-widget></app-person-widget>
        <fa-icon [icon]="comments" size="xs"></fa-icon>
        <fa-icon [icon]="ellipsisV" size="xs"></fa-icon>
      </div>
    </div>
  </div>
  <div class="nav-wrapper">
    <ul class="nav-ul">
      <li [class.selected]="getIndex() === 1" (click)="navigatorChange(1)">Dashboard</li>
      <li [class.selected]="getIndex() === 2" (click)="navigatorChange(2)" routerLink="/tasks">Tasks</li>
      <li [class.selected]="getIndex() === 3" (click)="navigatorChange(3)" routerLink="/attendance">Attendance</li>
    </ul>
  </div>
  </div>
  <router-outlet></router-outlet>
</div>