<div class="card-container" [class.ng-small]="small" [@flipState]="flipState">
    <div *ngIf="flipState === 'inactive'" class="card-info" [class.ng-small]="small">
        <span *ngIf="small" class="ng-card-header-date" [style.color]="getColor()">{{card.date}}</span>
        <div *ngIf="!small" class="info-icon">
            <fa-icon [style.color]="getColor()" [icon]="commentAlt" size="xs"></fa-icon>
        </div>
        <div class="info-data" [class.ng-small]="small">
            <span class="main-text">{{card.mainText}}</span>
            <span class="sub-text">{{card.subText}}</span>
        </div>
    </div>
    <div *ngIf="flipState === 'inactive'" class="card-footer" [class.ng-small]="small" [style.background-color]="getColor()">
        <div class="footer-left" [class.ng-small]="small">
            <fa-icon *ngIf="card.type !== 'completed'" [class.ng-small]="small" [icon]="exclamationTriangle" size="xs"></fa-icon>
            <fa-icon *ngIf="card.type === 'completed'" [class.ng-small]="small" [icon]="checkSquare" size="xs"></fa-icon>
            <span class="text" [class.ng-small]="small">{{getDaysLeft()}}</span>
        </div>
        <div *ngIf="!small" class="footer-right">
            <span class="day">{{card.date}}</span>
        </div>
    </div>
    <div *ngIf="flipState === 'active'" class="card-back" [style.background-color]="getLightColor()">
        <div class="info-left">
            <span class="large-text">Complete Card</span>
            <span class="small-text">{{card.subText}}</span>
        </div>
        <!-- <div class="slider-right">
            <app-slider class="slide-toggle"></app-slider>
        </div> -->
    </div>
</div>