@import "../../../../style/include";

.card-container {
    font-family: $font-family-sans-serif;
    box-shadow: 0px 0px 10px 3px lightgray;
    height: 10rem;
    width: 100%;
    @include display-flex;
    @include flex-direction(column);
    @include flex-wrap(nowrap);

    &.ng-small {
        height: 100%;
        width: 100%;
        box-shadow: none;
    }
}

.card-info {
    height: 70%;
    background-color: white;
    border-top-right-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(nowrap);

    &.ng-small {
        @include flex-wrap(wrap);
        height: 4.5rem;
        align-content: baseline;
    }

    .ng-card-header-date {
        margin-top: $base-gutter;
        margin-right: $base-gutter;
        height: 15px;
        margin-left: auto; 
        font-size: 10px;
        font-weight: 700;
        // @include text-overflow;
        white-space: normal;   
    }

    .info-icon {
        @include display-flex;
        @include flex-direction(column);
        @include flex-wrap(wrap);
        justify-content: center;
        // width: 10%;
        width: 3rem;

        fa-icon {
            margin-left: 0.5rem;
            margin-bottom: 1rem;
            height: 100%;
            @include display-flex;
            justify-content: center;
    
            ::ng-deep svg {
                align-self: center;
            }
             
            ::ng-deep .fa-xs {
                font-size: 1.5rem;
            }
        }

    }

    .info-data {
        @include display-flex;
        @include flex-direction(column);
        @include flex-wrap(wrap);
        justify-content: center;
        // width: 90%;
        width: calc(100% - 3rem);

        &.ng-small {
            width: 100%;
            margin-left: 1rem;
        }

        .main-text {
            font-size: 16px;
            font-weight: 700;
            color: gray;
            // @include text-overflow;
            white-space: normal;
        }

        .sub-text {
            font-size: 10px;
            font-weight: 400;
            color: lightgray;
            margin-top: $base-gutter;
            white-space: normal;
        }
    }
}

.card-footer {
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    height: 30%;

    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    justify-content: flex-start;

    &.ng-small {
        height: calc(100% - 4.5rem);  
    }

    .footer-left {
        height: 100%;
        @include display-flex;
        @include flex-direction(row);
        @include flex-wrap(nowrap);

        &.ng-small {
            width: 100%;
        }

        fa-icon {
            margin-left: 1rem;
            color: white;
            height: 100%;
            @include display-flex;
            justify-content: center;

            ::ng-deep svg {
                align-self: center;
            }
             
            ::ng-deep .fa-xs {
                font-size: 1rem;
            }

            &.ng-small {
                ::ng-deep .fa-xs {
                    font-size: 0.7rem;
                }
            }
        }

        .text {
            margin-left: $base-gutter;
            font-size: 16px;
            font-weight: 700;
            color: white;
            // @include text-overflow;
            white-space: normal;
            @include display-flex;
            @include flex-direction(column);
            @include flex-wrap(wrap);
            justify-content: center;

            &.ng-small {
                font-size: 12px;
            }
        }
    }

    .footer-right {
        margin-left: auto;
        @include display-flex;
        @include flex-direction(column);
        @include flex-wrap(wrap);
        justify-content: center;
        margin-right: 2rem;

        .day {
            font-size: 12px;
            font-weight: 700;
            color: white;
            // @include text-overflow;
            white-space: normal;
        }
    }
}

.card-back {
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    height: 100%;
    border-radius: 0.3rem;
    
    .info-left {
        flex: 1;
        @include display-flex;
        @include flex-direction(column);
        @include flex-wrap(wrap);
        // background-color: purple;
        justify-content: center;
        
        .large-text {
            margin-left: calc(#{$base-gutter} * 2);
            font-size: 22px;
            font-weight: 700;
            color: white;
            
        }

        .small-text {
            margin-left: calc(#{$base-gutter} * 2);
            font-size: 12px;
            font-weight: 700;
            color: white;
            white-space: normal;
            
        }
    }

    .slider-right {
        flex: 1;
        @include display-flex;
        @include flex-direction(column);
        @include flex-wrap(wrap);
        justify-content: center;

        .slide-toggle {
            align-self: center;
            
        }
    }
}


// -webkit-backface-visibility: hidden;
//             backface-visibility: hidden;
//             -webkit-perspective: 1000;
//             perspective: 1000;
//     -webkit-transform-style: preserve-3d;
//     transform-style: preserve-3d;
//     -webkit-transform:translate3d(0,0,0);