<div class="card-container" [@flipState]="flipState">
    <div *ngIf="flipState === 'inactive'" class="card-info">
        <div class="info-icon">
            <img src="../../../../images/shell/iconmonstr-magnifier-2.svg">
        </div>
        <div class="info-data">
            <span class="main-text">{{cardData.mainText}}</span>
            <span class="sub-text">{{cardData.subText}}</span>
        </div>
    </div>
    <div *ngIf="flipState === 'inactive'" class="card-footer" [style.background-color]="getColor()">
        <div class="footer-left">
            <img src="../../../../images/shell/iconmonstr-magnifier-2.svg">
            <span *ngIf="cardData.daysleft" class="text">{{cardData.daysleft}} Days Left</span>
        </div>
        <div class="footer-right">
            <span class="day">{{cardData.date}}</span>
        </div>
    </div>
    <div *ngIf="flipState === 'active'" class="card-back" [style.background-color]="getLightColor()">
        <div class="info-left">
            <span class="large-text">Complete Card</span>
            <span class="small-text">{{cardData.subText}}</span>
        </div>
        <!-- <div class="slider-right">
            <app-slider class="slide-toggle"></app-slider>
        </div> -->
    </div>
</div>